#carrito > span{
  color: white;
  background-color: gray;
  border-radius: 10rem;
  padding: 5px;
  font-weight: 500;
  font-size: large;
  position: relative;
  /* margin-top: 35px; */
}

.img {
  width: 10px;
  height: 10px;
  padding-left: 10px;
}